{% extends "cinepolisLayout.html" %}

{% block content %}
<div class="contenedor">

    <form action="/pago" method="post" class="form-horizontal">
        <div class="control-group">
            <label for="nombre" class="control-label">Nombre</label>
            <div class="controls">
                <input type="text" name="nombre" class="input-xlarge" placeholder="Nombre">
            </div>
        </div>
    
        <div class="control-group">
            <label for="compradores" class="control-label">Cantidad de compradores</label>
            <div class="controls">
                <input type="number" name="compradores" class="input-xlarge" placeholder="Compradores">
            </div>
        </div>
    
        <div class="control-group">
            <label for="tarjeta" class="control-label">Tarjeta Cineco</label>
            <div class="controls">
                Si
                <input type="radio" name="tarjeta" value="s" class="input-xlarge">
                No
                <input type="radio" name="tarjeta" value="n" class="input-xlarge">
                
            </div>
        </div>
    
        <div class="control-group">
            <label for="boletos" class="control-label">Cantidad de boletos</label>
            <div class="controls">
                <input type="number" name="boletos" class="input-xlarge" placeholder="Boletos">
            </div>
        </div>
    
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-default btn-primary">
                     Procesar
                </button>
            </div>
    
        </div>
    </form>

</div>

{% endblock %}